body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #000;
}


.header {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

#logo {
    display: block;
    margin: 0 auto;
    width: 200px;
}

#menu {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    text-align: center;
}

#menu a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

#content {
    padding: 20px;
}
.menu {
    display: flex;
    justify-content: center;
    background-color: #000000;
    height: 40px;
}

.menu a {
    padding: 10px 20px;
    text-decoration: none;
    color: #ffffff;
}

.menu a:hover {
    background-color: #b3ff00;
    color: #000000;
}

.menu a.active {
    background-color: #534e4e;
    color: rgb(255, 255, 255);
}

.kon {

    width: 100%;
    height: 40px;
    background-color: #000;
    color: white;
    display: flex;
    padding-left: 20px;
}

.kon p {
    padding-left: 20px;
    display: flex;
}

  
body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
  }
  
  label {
    margin-top: 10px;
  }
  
  input[type="text"],
  select {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
  }
  
  button {
    margin-top: 10px;
    padding: 10px;
  }
  
  #results-container {
    margin-top: 20px;
  }
  